/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Source Serif Pro",serif;
    background-image: url(/QUOTE-GENERATOR/src/assets/images/IMG_9768.JPG);
    box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.534);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
